In [19]:
data = {
    'date': ['2021-12-01', '01-12-2022', '2022/12/01', '12-01-2021'],
    'country': ['USA', 'U.S.A.', 'America', 'United States'],
    'name': ['Aammar', 'Amaar', 'Hamza', 'Hazma'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}

In [20]:
import numpy as np
import pandas as pd

In [21]:
df=pd.DataFrame(data)

In [35]:
df.head()

         date        country    name  sales_2020  sales_2021
0  2021-12-01   UnitedStates  Aammar       100.0         NaN
1  01-12-2022   UnitedStates  Aammar       200.0       150.0
2  2022/12/01   UnitedStates  Aammar         NaN       300.0
3  12-01-2021  United States  Aammar       200.0       150.0

In [6]:
df['date']=pd.to_datetime(df['date'],errors='coerce')

In [ ]:

df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [27]:
# Harmonize the name of country
country_mapping={'USA':'UnitedStates','U.S.A.':'UnitedStates','America':"UnitedStates"}
df['country']=df['country'].replace(country_mapping)

In [34]:
# Correct the typographical mistakes
df['name']=df['name'].replace({'Amaar':'Aammar','Hamza':'Aammar','Hazma':'Aammar'})

In [36]:
# drop duplicates
df = df.drop_duplicates(subset="name")

In [40]:
# lets assume that sales 2021 should always be higher than sales 2020
# df = df.drop(df[df['sales_2021'] <= df['sales_2020']].index)
df=df.drop(df[df['sales_2021']<=df['sales_2020']].index)