In [2]:
# immport libraries
import numpy as np
import pandas as pd
# load data

data = pd.DataFrame({'Age': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})
mean=np.mean(data['Age'])
std=np.std(data['Age'])

In [3]:
# predict z score
data['z-score']=data['Age']-mean/std
data

    Age    z-score
0    20  16.409881
1    21  17.409881
2    22  18.409881
3    23  19.409881
4    24  20.409881
5    25  21.409881
6    26  22.409881
7    27  23.409881
8    28  24.409881
9    29  25.409881
10   30  26.409881
11   50  46.409881

In [4]:
# Step 5: Print the data
print("----------------------------------------")
print(f"Here is the data with outliers:\n {data}")
print("----------------------------------------")
# Step 6: Print the outliers
print(f"Here are the outliers based on the z-score threshold:\n {data[data['z-score'] > 3]}")
print("----------------------------------------")
# Step 7: Remove the outliers
data = data[data['z-score'] <= 3]

# Step 8: Print the data without outliers
print(f"Here is the data without outliers:\n {data}")

----------------------------------------
Here is the data with outliers:
     Age    z-score
0    20  16.409881
1    21  17.409881
2    22  18.409881
3    23  19.409881
4    24  20.409881
5    25  21.409881
6    26  22.409881
7    27  23.409881
8    28  24.409881
9    29  25.409881
10   30  26.409881
11   50  46.409881
----------------------------------------
Here are the outliers based on the z-score threshold:
     Age    z-score
0    20  16.409881
1    21  17.409881
2    22  18.409881
3    23  19.409881
4    24  20.409881
5    25  21.409881
6    26  22.409881
7    27  23.409881
8    28  24.409881
9    29  25.409881
10   30  26.409881
11   50  46.409881
----------------------------------------
Here is the data without outliers:
 Empty DataFrame
Columns: [Age, z-score]
Index: []

In [5]:
data = data[data['z-score'] <= 3]

In [7]:
data.shape

(0, 2)