## Anova 
analysis of variant

In [2]:
from scipy import stats
import scipy.stats as stats

# Sample data: Growth of plants with three types of fertilizers
fertilizer1 = [20, 22, 19, 24, 25]
fertilizer2 = [28, 30, 27, 26, 29]
fertilizer3 = [18, 20, 22, 19, 24]

In [11]:
# from scipy.stats import f_oneway
from scipy.stats import f_oneway
# apply ANOVA test
statistics, p_value = stats.f_oneway(fertilizer1, fertilizer2, fertilizer3)
print(f"the value of statistics:{statistics}\nthe value of p-value: {p_value}")
# print the result using if else condition
if p_value < 0.05:
    print("reject null hypothesis: The means are not equal, as the p-value: {p_value} is less than 0.05")
else:
    print("accept null hypothesis: The means are equal, as the p-value: {p_value} is greater than 0.05")

print(f"")

the value of statistics:15.662162162162158
the value of p-value: 0.0004515404760997282
reject null hypothesis: The means are not equal, as the p-value: {p_value} is less than 0.05

# Using statsmodels

In [ ]:
#! pip install statsmodels

In [13]:
# one way anova using statsmodel
# import libraries
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# create dataframe
df = pd.DataFrame({'Fertilizer1': fertilizer1, 'Fertilizer2': fertilizer2, 'Fertilizer3': fertilizer3})

In [14]:
# Create a dataframe
df = pd.DataFrame({"fertilizer": ["fertilizer1"] * 5 + ["fertilizer2"] * 5 + ["fertilizer3"] * 5,
                   "growth": fertilizer1 + fertilizer2 + fertilizer3})
df.head()

    fertilizer  growth
0  fertilizer1      20
1  fertilizer1      22
2  fertilizer1      19
3  fertilizer1      24
4  fertilizer1      25

In [15]:
df['fertilizer'].value_counts()

fertilizer
fertilizer1    5
fertilizer2    5
fertilizer3    5
Name: count, dtype: int64

In [16]:
# fit the model
model = ols('growth ~ fertilizer', data=df).fit()

In [18]:
# Perform ANOVA and print the summary table
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

                sum_sq    df          F    PR(>F)
fertilizer  154.533333   2.0  15.662162  0.000452
Residual     59.200000  12.0        NaN       NaN

In [19]:
# print the results based on if the p-value is less than 0.05
if anova_table['PR(>F)'][0] < 0.05:
    print("Reject the null hypothesis: The means are not equal, as the p-value: {p_value} is less than 0.05")
else:
    print("Accept the null hypothesis: The means are equal, as the p-value: {p_value} is greater than 0.05")

Reject the null hypothesis: The means are not equal, as the p-value: {p_value} is less than 0.05

C:\Users\Aaima Amir\AppData\Local\Temp\ipykernel_1452\3189157692.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

---

In [20]:
# Two way anova
# Sample data
data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2", 
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1", 
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High", 
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low", 
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low"]
})
data.head()

   Growth Fertilizer Sunlight
0      20         F1     High
1      22         F1     High
2      19         F1     High
3      24         F1     High
4      25         F1     High

In [21]:
df["fertilizer"].value_counts

<bound method IndexOpsMixin.value_counts of 0     fertilizer1
1     fertilizer1
2     fertilizer1
3     fertilizer1
4     fertilizer1
5     fertilizer2
6     fertilizer2
7     fertilizer2
8     fertilizer2
9     fertilizer2
10    fertilizer3
11    fertilizer3
12    fertilizer3
13    fertilizer3
14    fertilizer3
Name: fertilizer, dtype: object>

In [22]:
df['growth'].value_counts()

growth
20    2
22    2
19    2
24    2
25    1
28    1
30    1
27    1
26    1
29    1
18    1
Name: count, dtype: int64

In [23]:
# Perform two-way ANOVA
model = ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Fertilizer):C(Sunlight)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

print(anova_table)

# print the results based on if the p-value is less than 0.05

if anova_table["PR(>F)"][0] < 0.05:
    print("Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05")
else:
    print("Accept null hypothesis: The means are equal, as the p-value: {p_val} is greater than 0.05")

                                 sum_sq    df             F        PR(>F)
C(Fertilizer)              3.090667e+02   2.0  3.132432e+01  2.038888e-07
C(Sunlight)                7.500000e+00   1.0  1.520270e+00  2.295198e-01
C(Fertilizer):C(Sunlight)  1.226021e-28   2.0  1.242589e-29  1.000000e+00
Residual                   1.184000e+02  24.0           NaN           NaN
Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05

C:\Users\Aaima Amir\AppData\Local\Temp\ipykernel_1452\2820867106.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table["PR(>F)"][0] < 0.05: