In [34]:
# catboost algorithms
! pip install catboost

Requirement already satisfied: catboost in c:\users\aaima amir\miniconda3\lib\site-packages (1.2.5)
Requirement already satisfied: graphviz in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (3.8.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (1.12.0)
Requirement already satisfied: plotly in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (5.21.0)
Requirement already satisfied: six in c:\users\aaima amir\miniconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aaima amir\miniconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aaima amir\miniconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aaima amir\miniconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aaima amir\miniconda3\lib\site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\aaima amir\miniconda3\lib\site-packages (from plotly->catboost) (8.2.3)

In [35]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
# import KNN imputer and simple imputer
from sklearn.impute import SimpleImputer,KNNImputer

In [36]:
# import the data 
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [37]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [38]:
# drop the deck column
df=df.drop('deck',axis=1)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [40]:
# impute the missing values in age column using KNNImputer
imputer=KNNImputer()
df['age']=imputer.fit_transform(df[['age']])

In [41]:
# impute the missing values in embarked and embark_town column using SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
df[['embarked']]=imputer.fit_transform(df[['embarked']])
df[['embark_town']]=imputer.fit_transform(df[['embark_town']])

In [42]:
# convert each category column to category
categorical_cols=df.select_dtypes(include=['object','category']).columns
df[categorical_cols]=df[categorical_cols].astype('category')

In [43]:
#split the data into X and y
X=df.drop('survived',axis=1)
y=df['survived']

In [44]:
# split the data into train and test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [45]:
# call the model
model=CatBoostClassifier(iterations=100, learning_rate=0.1, depth=6)

In [46]:
# fit the model
model.fit(X_train,y_train,cat_features=categorical_cols.tolist())

0:	learn: 0.6126456	total: 347ms	remaining: 34.4s
1:	learn: 0.5508517	total: 462ms	remaining: 22.6s
2:	learn: 0.4896715	total: 566ms	remaining: 18.3s
3:	learn: 0.4369055	total: 778ms	remaining: 18.7s
4:	learn: 0.3947585	total: 978ms	remaining: 18.6s
5:	learn: 0.3547057	total: 1.16s	remaining: 18.2s
6:	learn: 0.3221894	total: 1.35s	remaining: 18s
7:	learn: 0.2911322	total: 1.56s	remaining: 17.9s
8:	learn: 0.2602813	total: 1.65s	remaining: 16.6s
9:	learn: 0.2405173	total: 1.84s	remaining: 16.6s
10:	learn: 0.2214942	total: 2.07s	remaining: 16.7s
11:	learn: 0.2011450	total: 2.23s	remaining: 16.3s
12:	learn: 0.1831262	total: 2.36s	remaining: 15.8s
13:	learn: 0.1686156	total: 2.5s	remaining: 15.4s
14:	learn: 0.1521290	total: 2.57s	remaining: 14.6s
15:	learn: 0.1413503	total: 2.73s	remaining: 14.3s
16:	learn: 0.1309976	total: 2.85s	remaining: 13.9s
17:	learn: 0.1185861	total: 2.88s	remaining: 13.1s
18:	learn: 0.1099839	total: 3.01s	remaining: 12.8s
19:	learn: 0.1022354	total: 3.2s	remaining: 12.8s
20:	learn: 0.0964299	total: 3.3s	remaining: 12.4s
21:	learn: 0.0881989	total: 3.39s	remaining: 12s
22:	learn: 0.0812196	total: 3.58s	remaining: 12s
23:	learn: 0.0764959	total: 3.78s	remaining: 12s
24:	learn: 0.0712322	total: 3.98s	remaining: 11.9s
25:	learn: 0.0666203	total: 4.1s	remaining: 11.7s
26:	learn: 0.0623854	total: 4.28s	remaining: 11.6s
27:	learn: 0.0585712	total: 4.59s	remaining: 11.8s
28:	learn: 0.0554133	total: 4.99s	remaining: 12.2s
29:	learn: 0.0524515	total: 5.12s	remaining: 12s
30:	learn: 0.0500238	total: 5.28s	remaining: 11.7s
31:	learn: 0.0459645	total: 5.36s	remaining: 11.4s
32:	learn: 0.0433761	total: 5.51s	remaining: 11.2s
33:	learn: 0.0415987	total: 5.66s	remaining: 11s
34:	learn: 0.0405188	total: 5.91s	remaining: 11s
35:	learn: 0.0384421	total: 6.03s	remaining: 10.7s
36:	learn: 0.0365127	total: 6.12s	remaining: 10.4s
37:	learn: 0.0349852	total: 6.24s	remaining: 10.2s
38:	learn: 0.0334034	total: 6.41s	remaining: 10s
39:	learn: 0.0318707	total: 6.6s	remaining: 9.9s
40:	learn: 0.0308726	total: 6.76s	remaining: 9.73s
41:	learn: 0.0298321	total: 6.93s	remaining: 9.57s
42:	learn: 0.0288345	total: 7.02s	remaining: 9.3s
43:	learn: 0.0276041	total: 7.15s	remaining: 9.1s
44:	learn: 0.0264438	total: 7.39s	remaining: 9.03s
45:	learn: 0.0258217	total: 7.48s	remaining: 8.79s
46:	learn: 0.0242835	total: 7.52s	remaining: 8.48s
47:	learn: 0.0228713	total: 7.56s	remaining: 8.19s
48:	learn: 0.0219680	total: 7.76s	remaining: 8.08s
49:	learn: 0.0212091	total: 7.88s	remaining: 7.88s
50:	learn: 0.0203608	total: 7.95s	remaining: 7.64s
51:	learn: 0.0192598	total: 8.01s	remaining: 7.39s
52:	learn: 0.0187201	total: 8.18s	remaining: 7.25s
53:	learn: 0.0182831	total: 8.36s	remaining: 7.12s
54:	learn: 0.0177523	total: 8.45s	remaining: 6.92s
55:	learn: 0.0172911	total: 8.59s	remaining: 6.75s
56:	learn: 0.0165236	total: 8.7s	remaining: 6.56s
57:	learn: 0.0161422	total: 8.88s	remaining: 6.43s
58:	learn: 0.0153608	total: 8.94s	remaining: 6.21s
59:	learn: 0.0147554	total: 9.05s	remaining: 6.03s
60:	learn: 0.0144907	total: 9.32s	remaining: 5.96s
61:	learn: 0.0141955	total: 9.5s	remaining: 5.82s
62:	learn: 0.0139597	total: 9.71s	remaining: 5.7s
63:	learn: 0.0137861	total: 9.85s	remaining: 5.54s
64:	learn: 0.0134319	total: 10s	remaining: 5.41s
65:	learn: 0.0130066	total: 10.3s	remaining: 5.33s
66:	learn: 0.0126797	total: 10.7s	remaining: 5.27s
67:	learn: 0.0123771	total: 11s	remaining: 5.17s
68:	learn: 0.0120173	total: 11.2s	remaining: 5.03s
69:	learn: 0.0117069	total: 11.4s	remaining: 4.88s
70:	learn: 0.0115269	total: 11.6s	remaining: 4.73s
71:	learn: 0.0113758	total: 11.7s	remaining: 4.55s
72:	learn: 0.0111329	total: 11.9s	remaining: 4.39s
73:	learn: 0.0109613	total: 12.1s	remaining: 4.24s
74:	learn: 0.0105956	total: 12.2s	remaining: 4.08s
75:	learn: 0.0104533	total: 12.3s	remaining: 3.9s
76:	learn: 0.0102193	total: 12.5s	remaining: 3.73s
77:	learn: 0.0100752	total: 12.6s	remaining: 3.56s
78:	learn: 0.0099085	total: 12.8s	remaining: 3.41s
79:	learn: 0.0098089	total: 13s	remaining: 3.25s
80:	learn: 0.0096242	total: 13.3s	remaining: 3.11s
81:	learn: 0.0095010	total: 13.5s	remaining: 2.96s
82:	learn: 0.0093828	total: 13.7s	remaining: 2.8s
83:	learn: 0.0092403	total: 13.9s	remaining: 2.65s
84:	learn: 0.0089926	total: 14s	remaining: 2.48s
85:	learn: 0.0088741	total: 14.2s	remaining: 2.32s
86:	learn: 0.0087565	total: 14.4s	remaining: 2.15s
87:	learn: 0.0086512	total: 14.6s	remaining: 1.99s
88:	learn: 0.0085119	total: 14.7s	remaining: 1.82s
89:	learn: 0.0084248	total: 14.9s	remaining: 1.66s
90:	learn: 0.0083291	total: 15.1s	remaining: 1.49s
91:	learn: 0.0082565	total: 15.2s	remaining: 1.32s
92:	learn: 0.0081193	total: 15.3s	remaining: 1.15s
93:	learn: 0.0080249	total: 15.5s	remaining: 988ms
94:	learn: 0.0079449	total: 15.6s	remaining: 821ms
95:	learn: 0.0078755	total: 15.8s	remaining: 656ms
96:	learn: 0.0077841	total: 15.9s	remaining: 492ms
97:	learn: 0.0076991	total: 16s	remaining: 327ms
98:	learn: 0.0076085	total: 16.2s	remaining: 164ms
99:	learn: 0.0075395	total: 16.3s	remaining: 0us

In [47]:
# predictions
y_pred=model.predict(X_test)

In [48]:
# evaluate the model
print("Confusion Matrix:\n",confusion_matrix(y_test,y_pred))
print("Classification Report:\n",classification_report(y_test,y_pred))
print("Accuracy Score:",accuracy_score(y_test,y_pred))

Confusion Matrix:
 [[110   0]
 [  0  69]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       110
           1       1.00      1.00      1.00        69

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

Accuracy Score: 1.0