In [1]:
# import libraries
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [2]:
# load the data
df=sns.load_dataset('titanic')

In [3]:
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [4]:
# fill in the missing values in age and embarked values
df['age']=df['age'].fillna(df['age'].mean())
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])

In [5]:
# drop the deck column
df.drop('deck',axis=1,inplace=True)

In [6]:
# label encode the categorical columns
for i in ['sex','embarked','class','who','adult_male','embark_town','alive','alone']:
    le=LabelEncoder()
    df[i]=le.fit_transform(df[i])
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,0,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,2,1,1

In [7]:
# scale the numeric columns
sc=StandardScaler()
df[['age','fare']]=sc.fit_transform(df[['age','fare']])
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,-0.592481,1,0,-0.502445,2,2,1,1,2,0,0
1,1,1,0,0.638789,1,0,0.786845,0,0,2,0,0,1,0
2,1,3,0,-0.284663,0,0,-0.488854,2,2,2,0,2,1,1

In [8]:
# split the data into train and test
x=df.drop('survived',axis=1)
y=df['survived']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape,x_test.shape

((712, 13), (179, 13))

In [9]:
x_train.shape[1]

13

In [15]:
# make model by tf

model=tf.keras.models.Sequential([
    tf.keras.layers.Dense(32,activation='relu',input_shape=(x_train.shape[1],)),
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [20]:
# compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [21]:
# training the model
model.fit(x_train,y_train,epochs=20,batch_size=32,verbose=1)

Epoch 1/20
23/23 [==============================] - 7s 12ms/step - loss: 0.0033 - accuracy: 1.0000
Epoch 2/20
23/23 [==============================] - 0s 15ms/step - loss: 0.0016 - accuracy: 1.0000
Epoch 3/20
23/23 [==============================] - 0s 16ms/step - loss: 8.9940e-04 - accuracy: 1.0000
Epoch 4/20
23/23 [==============================] - 0s 12ms/step - loss: 5.8814e-04 - accuracy: 1.0000
Epoch 5/20
23/23 [==============================] - 0s 14ms/step - loss: 4.2287e-04 - accuracy: 1.0000
Epoch 6/20
23/23 [==============================] - 0s 19ms/step - loss: 3.0618e-04 - accuracy: 1.0000
Epoch 7/20
23/23 [==============================] - 0s 14ms/step - loss: 2.4101e-04 - accuracy: 1.0000
Epoch 8/20
23/23 [==============================] - 0s 14ms/step - loss: 1.9527e-04 - accuracy: 1.0000
Epoch 9/20
23/23 [==============================] - 0s 20ms/step - loss: 1.6051e-04 - accuracy: 1.0000
Epoch 10/20
23/23 [==============================] - 0s 10ms/step - loss: 1.3485e-04 - accuracy: 1.0000
Epoch 11/20
23/23 [==============================] - 0s 10ms/step - loss: 1.1447e-04 - accuracy: 1.0000
Epoch 12/20
23/23 [==============================] - 0s 19ms/step - loss: 9.9755e-05 - accuracy: 1.0000
Epoch 13/20
23/23 [==============================] - 0s 13ms/step - loss: 8.5997e-05 - accuracy: 1.0000
Epoch 14/20
23/23 [==============================] - 0s 15ms/step - loss: 7.6887e-05 - accuracy: 1.0000
Epoch 15/20
23/23 [==============================] - 0s 15ms/step - loss: 6.6843e-05 - accuracy: 1.0000
Epoch 16/20
23/23 [==============================] - 0s 12ms/step - loss: 6.0080e-05 - accuracy: 1.0000
Epoch 17/20
23/23 [==============================] - 0s 11ms/step - loss: 5.3805e-05 - accuracy: 1.0000
Epoch 18/20
23/23 [==============================] - 0s 13ms/step - loss: 4.8825e-05 - accuracy: 1.0000
Epoch 19/20
23/23 [==============================] - 0s 11ms/step - loss: 4.4233e-05 - accuracy: 1.0000
Epoch 20/20
23/23 [==============================] - 0s 10ms/step - loss: 4.0330e-05 - accuracy: 1.0000

In [24]:
loss,accuracy=model.evaluate(x_test,y_test,verbose=1)
print(f'test_loss:{loss}')
print(f'test_accuracy:{accuracy}')

6/6 [==============================] - 1s 21ms/step - loss: 1.7798e-04 - accuracy: 1.0000
test_loss:0.0001779848971636966
test_accuracy:1.0

In [12]:
import sys

import tensorflow.keras
import pandas as pd
import sklearn as sk
import scipy as sp
import tensorflow as tf
import platform

print(f"Python Platform: {platform.platform()}")
print(f"Tensor Flow Version: {tf.__version__}")
print()
print(f"Python {sys.version}")
print(f"Pandas {pd.__version__}")
print(f"Scikit-Learn {sk.__version__}")
print(f"SciPy {sp.__version__}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

Python Platform: Windows-10-10.0.19041-SP0
Tensor Flow Version: 2.11.0

Python 3.9.0 (default, Nov 15 2020, 08:30:55) [MSC v.1916 64 bit (AMD64)]
Pandas 2.2.1
Scikit-Learn 1.4.2
SciPy 1.13.0
GPU is NOT AVAILABLE

In [ ]:
print(f"Tensor Flow Version: {tf.__version__}")

In [ ]:
# Compile the model
model.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [ ]:
# evalute the model
model.evaluate(x_test,y_test)